<!-- templates/categoria/cliente.html -->
{% extends 'base.html' %}

{% block titulo_conteudo %} Formulário de Cliente {% endblock %}

{% block conteudo %}
<div class="container">
    <h1>Formulário de Cliente</h1>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Salvar</button>
    </form>
    <button type="button" class="btn btn-secondary" onclick="location.href='{% url 'index' %}'">Voltar</button>

    {% if ultimo_cliente %}
    <div class="mt-4">
        <h2>Último Cliente Cadastrado</h2>
        <p><strong>Nome:</strong> {{ ultimo_cliente.nome }}</p>
        <p><strong>CPF:</strong> {{ ultimo_cliente.cpf }}</p>
        <p><strong>Data de Nascimento:</strong> {{ ultimo_cliente.datanascimento }}</p>
    </div>
    {% else %}
    <div class="mt-4">
        <h2>Nenhum cliente cadastrado ainda.</h2>
    </div>
    {% endif %}
</div>
{% endblock %}